.like-button {
  all: unset;
  position: absolute;
  right: 1%;
  bottom: 1%;
  width: 32px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  z-index: 2;
}

.like-button__icon {
  width: 20px;
  height: 20px;
}