.like-button {
  all: unset;
  position: absolute;
  right: 3%;
  bottom: 3%;
  width: 32px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  z-index: 10;
}

.like-button__icon {
  width: 20px;
  height: 20px;
}

@media (min-width: 768px) {
  .like-button {
    right: 1%;
    bottom: 1%;
  }
}
