.notification_btn{
    border-radius: 6px;
    border: 1px solid #3dcbb8;
    width: 100%;
    background: none;
    cursor: pointer;
    padding: 10px 40px;
    font-weight: 500;
  }

  .notification_container{
    color: #3dcbb8;
    font-weight: bold;
    font-size: 14px;
  }

  .notification_btn--active {
    border-color: #cacaca; 
  }

  .notification_btn > div{
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .notifi_default{
    color: #3dcbb8;
  }

  .notifi_ing{
    color: #545454;
  }