.notification_btn{
    border-radius: 6px;
    border: 1px solid #fd5744;
    width: 100%;
    background: none;
    cursor: pointer;
    padding: 10px 40px;
  }

  .notification_container{
    color: #fd5744;
    font-weight: bold;
    font-size: 14px;
  }

  .notification_btn--active {
    border-color: #e4e4e4; 
  }

  .notification_btn > div{
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .notifi_default{
    color: #fd5744;
  }

  .notifi_ing{
    color: #545454;
  }